src/main/app/audit.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
   <flow name="audit">
        <http:listener config-ref="HTTP_Listener_Configuration" path="selectaudit" allowedMethods="GET" doc:name="HTTP"/>
        <db:select config-ref="Generic_Database_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[select * from AssetTermMap]]></db:parameterized-query>
        </db:select>
        <message-properties-transformer mimeType="application/json" doc:name="Message Properties">
            <add-message-property key="Access-Control-Allow-Origin" value="*"/>
            <add-message-property key="Access-Control-Allow-Headers" value="Content-Type"/>
            <add-message-property key="Access-Control-Allow-Methods" value="GET, POST, OPTIONS"/>
            <add-message-property key="Content-Type" value="application/x-www-form-urlencoded"/>
            <add-message-property key="Cache-Control" value="no-cache"/>
        </message-properties-transformer>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <exception-strategy ref="globalChoice_Exception_Strategy" doc:name="Copy_of_Reference Exception Strategy"/>
    </flow>
    <flow name="FrontTempleteAudit">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/Audit" allowedMethods="GET" doc:name="HTTP"/>
        <parse-template location="frontEnd/auditdata.html" doc:name="Parse Template"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <exception-strategy ref="globalChoice_Exception_Strategy" doc:name="Copy_of_Reference Exception Strategy"/>
    </flow>
    
</mule>
